/* =============
    About
============= */
.about-quote{
  margin-top: 20px;
  background-color: $lightGrey;
  padding: 31px 0 16px;

  span{
    color: $blue;
  }
}

#about{
    padding-bottom: 20px;
}


#about-last-quote{
    margin-bottom: 50px;
}
